body {
  width:280px;
  font-family: 'Open sans', sans-serif;
}

h4 {
  font-size: 18px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #DDD;
  font-size: 145%;
  transition: 0.2s;
}

.navbar a:focus,
.navbar button:focus {
  outline: none;
}

.navbar a:hover {
  color: #777;
}

.navbar {
  width: 280px;
  height: 50px;
  min-height: 50px;
  margin-bottom: 0px;
  border-bottom: 1px solid #dadada;
}

.pull-right {
  margin-right: 10px;
  margin-top: 5px;
}

.white-icon {
  color: #dadada;
}

.white-icon:hover {
  color: #45ADA8;
}

#play:hover,
#pause:hover,
#stop:hover {
  color: #45ADA8;
}

.box {
  float: left;
  width: 69px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
}

.box:first-child {
  width: 68px;
  border-right: 1px solid white;
}

.rec-box {
  height: 70px;
  padding-top: 5px;
  border-bottom: 1px solid #ddd;
  box-sizing: box-border;
  cursor: pointer;
}

.rec-box:hover {
  background: #eee;
}

.rec-box:last-child {
  border-bottom: none;
}

#listing {
  margin: 0px 5px 0px 5px;
  min-height: 100px;
}

.listing-message {
  margin-top: 30px;
}

.ajax-spinner {
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
  background-image: url("/images/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.listing-message p {
  text-align: center;
}

#see-more {
  vertical-align: top;
  border-top: 1px solid #dadada;
  background: #fafafa;
  height: 40px;
  padding: 0 10px;
}

#status {
  font-style: italic;
}

#see-more .pull-right,
#see-more .pull-left {
  margin-top: 0px;
  line-height: 40px;
}

.headline {
  font-size: 14px;
  font-weight: bold;
}

.byline {
  font-size: 10px;
  color: #999;
}

